.content {
    font-family: sans-serif;
    height: 500px;
    background-image: url("./images/background-image.jpeg");
}

.content h1 {
    color: #c71e38;
    font-size: 4.375rem;
    font-weight: 700;
    margin: 0px;
    padding: 32px 0px 0px 32px;
}

.ice-cream-quote {
    color: pink;
    font-size: 2rem;
    padding-left: 64px;
}

.ice-cream-menu p {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.ice-cream-row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
}

.ice-cream {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
}

.quote {
    margin-top: 1rem;
    text-align: center;
    padding: 32px 0;
    background: #fc4273;
    color: white;
}

blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
}

blockquote p {
    margin: 0 0 5px 0;
    font-size: 1.5rem;
}

blockquote cite {
    font-size: 1rem;
    font-style: italic;
}

blockquote cite:before {
    content: "–";
    margin-right: 5px;
}

footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868686;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    font-size: 0.875rem;
    text-decoration: none;
    color: #c3c3c3;
}

footer li a:hover {
    color: white;
}
