body {
    font-family: sans-serif;
    max-width: 1200px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#login-container {
    max-width: 450px;
    margin-left: 16px;
}

#login-form {
    padding: 0% 6px;
    margin-left: 12px;
}

.login-text {
    font-size: 1.875rem;
    margin-bottom: 2.5rem;
}

.submit, .add-to-cart, .remove-item {
    color: white;
    font-size: 1.25rem;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

button:hover, .cart-button:hover, .add-to-cart:hover, .submit:hover {
    cursor: pointer;
}

.submit {
    width: 95%;
    background-color: purple;
}

.cart-button {
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(228, 187, 8);
}

.add-to-cart {
    background-color: rgb(14, 148, 14);
}

.remove-item {
    background-color: rgb(218, 13, 23);
}

.input-label {
    color: #555;
    margin-bottom: 0.5rem;
}

.input-field {
    width: 90%;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.food-item, .food-item div {
    display: flex;
    justify-content: space-between;
}

.food-item div {
    width: 88%;
    align-items: center;
}

.food-items {
    list-style-type: none;
}

ul {
    padding: 0;
}

li {
    padding: 10px;
}

.food-item {
    padding: 12px;
    background-color: #eee;
    border: 1px solid #111;
}

.food-item span, #total-amount {
    font-size: 1.25rem;
}

.food-item-img {
    width: 100px;
    height: 100px;
}

.food-items-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-form {
    width: 25%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
